.cardinality {
    width: 500px;
    margin: 0px auto 1em auto;
}

.startEditingContainer {
    margin: 0em 2em;
}

.startEditingContainer>.dijitTextBox {
    width: 100%;
}

.startEditingContainer>.btn {
    margin-bottom: 1em;
}

.startEditingContainer .rdfEdit {
    height: 250px;
    width: 800px;
}

.rdfEdit textarea {
    font-family: monospace;
}

.singleEditor>h1 {
    display: none;
}

.singleEditor.withHeader>h1 {
    display: block;
}

.singleEditor.withHeader {
    position: relative;
    height: 100%;
}

.singleEditor .singleEditorMain {
    height: 100%;
}

.singleEditor.withHeader .singleEditorMain {
    height: auto;
    position: absolute;
    top: 5em;
    bottom: 1em;
    left: 0px;
    right: 0px;
}

