<html>
  <head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
  </head>
  <body class="tundra">
	<script type="text/javascript" src="../../../../lib/dojo/dojo/dojo.js.uncompressed.js"
		djConfig="isDebug: true, debugAtAllCosts: true, parseOnLoad: false, usePlainJson: true"></script>
	<style>
		@import "../../../../lib/dojo/dijit/themes/tundra/tundra.css"; /* required when dijit */	
		@import "../resources/rforms.css";
	</style>
	<script type="text/javascript">
		dojo.registerModulePath("rforms","../../../src/rforms");
		dojo.registerModulePath("rdfjson","../../../src/rdfjson");
		dojo.require("rforms.template.ItemStore");
		dojo.require("rforms.template.tests.data");
		dojo.require("rdfjson.Graph");
		dojo.require("rdfjson.tests.data");
		dojo.require("rforms.model.Engine");
		dojo.require("rforms.view.Presenter");
		dojo.addOnLoad(function() {
			var itemStore = new rforms.template.ItemStore();
	 		var template = itemStore.createTemplate(rforms.template.tests.template1);
			var graph = new rdfjson.Graph(rdfjson.tests.graph2);
			var binding = rforms.model.match(graph, "http://example.org/about", template);
			new rforms.view.Presenter({template: template, binding: binding, compact: true}, "compactView");
		});
	</script>
	<div id="compactView"></div>
  </body>
</html>
