@import "../bootstrap/base.css";
@import "../../libs/bootstrap/dist/css/bootstrap.min.css";
@import "../../libs/bmd/dist/css/bootstrap-material-design.css";
@import "../../libs/bmd/dist/css/ripples.css";
@import "../../libs/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css";


.rdforms .form-group {
    display: inline;
}
.rdforms select.rdformsLanguage {
    display: inline;
}
.rdforms.rdformsEditor .rdformsFieldControl {
    height: auto;
}
.popover a {
    color: #ececec;
}
.popover .popover-title {
    color: black;
    font-weight: bold;
    border-radius: 0px;
}

.rdformsDatepicker input {
    display: inline-block;
    width: 12em;
}

.rdforms .form-group.selectizeException {
    display: block;
}
.selectize-control.single .selectize-dropdown .active, .selectize-control.multi .selectize-dropdown .active {
    background-color: #b8b8b8 !important;
}