<div>
  <span data-dojo-attach-point="yearsLabelNode">Years</span>&nbsp;<span data-dojo-attach-point="yearsNode" style="width: 4em;">0</span>
  &nbsp;&nbsp;<span data-dojo-attach-point="monthsLabelNode">Months</span>&nbsp;<span data-dojo-attach-point="monthsNode" style="width: 4em;">0</span>
  &nbsp;&nbsp;<span data-dojo-attach-point="daysLabelNode">Days</span>&nbsp;<span data-dojo-attach-point="daysNode" style="width: 4em;">0</span>
  &nbsp;&nbsp;<span data-dojo-attach-point="hoursLabelNode">Hours</span>&nbsp;<span data-dojo-attach-point="hoursNode" style="width: 4em;">0</span>
  &nbsp;&nbsp;<span data-dojo-attach-point="minutesLabelNode">Minutes</span>&nbsp;<span data-dojo-attach-point="minutesNode" style="width: 4em;">0</span>
</div>
